.fb {
    position: absolute;
    top: 10%;
    left: 10%;
    transform: translate(-50%, -50%);
    display: flex;
    margin: 0;
    padding: 0;
  }
  
  .fb li {
    list-style: none;
    margin: 0 5px;
  }
  
  .fb li .fa{
      font-size: 40px;
      color: #262626;
      line-height: 80px;
      transition: 0.5s;
      padding-right: 14px;
    }
  
  .fb li a span {
      margin: 0;
      padding: 0;
    position: absolute;
    top: 30px;
    color: #262626;
    letter-spacing: 4px;
    transition: 0.5s;
  }
  
  .fb li a {
    text-decoration: none;
    display: absolute;
    /* position: absolute; */
    display: block;
    width: 210px;
    height: 80px;
    background: #fff;
    text-align: left;
    padding-left: 20px;
    transform: rotate(-30deg) skew(25deg) translate(0, 0);
    transition: 0.5s;
    box-shadow: -20px 20px 10px rgba(0, 0, 0, 0.5);
  }
  
  .fb li a:before {
    content: "";
    position: absolute;
    top: 10px;
    left: -20px;
    height: 100%;
    width: 20px;
    background: #b1b1b1;
    transform: 0.5s;
    /* transition: .5s; */
    transform: rotate(0deg) skewY(-45deg);
  }
  
  .fb li a:after {
    content: "";
    position: absolute;
    bottom: -20px;
    left: -10px;
    height: 20px;
    width: 100%;
    background: #b1b1b1;
    transform: 0.5s;
    /* transition: .5s; */
    transform: rotate(0deg) skewX(-45deg);
  }
  
  .fb li a:hover {
    transform: rotate(-30deg) skew(25deg) 
    translate(20px, -15px);
    box-shadow: -50px 50px 50px rgba(0, 0, 0, 0.5);
  }
  
  .fb li:hover .fa {
    /* color: #fff; */
    filter: invert(93%) sepia(95%) saturate(0%) hue-rotate(170deg)
      brightness(106%) contrast(104%);
  }
  
  .fb li:hover span {
    color: #fff;
  }
  
  .fb li:hover a {
    background: #365492;
  }
  
  .fb li:hover a::before {
    background: #365492;
  }
  
  .fb li:hover a::after {
    background: #4a69ad;
  }
  
  
  .fb li:hover:nth-child(4) a {
      background: #e4405f;
    }
    
    .fb li:hover:nth-child(4) a::before {
      background: #d81c3f;
    }
    
    .fb li:hover:nth-child(3) a::after {
      background: #e46880;
    }
    
  
  